/* super reset */ 
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400&display=swap');
html{
    font-size: 62.5%;
    background:linear-gradient( to top, rgba(0,0,0,0.6) 50%, rgba(0,0,0,0.6) 50%), 
    url(../asset/cover-batman.jpg)no-repeat fixed center center / cover;
    scroll-behavior: smooth; 
}
body{
    font: 1.6rem "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    letter-spacing: 0.1rem;
    line-height: 1.6;
}
h1, h2, ul, ol{
    margin: 0;
    padding: 0;
    list-style: none;
    border-width: 0;
}

img{
    height: 100%;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    object-fit: cover;
}
*{
    box-sizing: border-box;
}
/* theme */

header h1{
    text-align: center;
    line-height: 8rem;
    color: white;
    font-weight: 200;
}
/* grid */



.gallery-primary{
    max-width: 120rem;
    margin: 5rem auto 5rem;
    overflow: hidden;
    background: #fff;

}

.gallery-primary ul{
    padding: 1rem 0 0 1rem;
}

.gallery-primary ul li {
    display: block;
    float: left;
    margin: 0 1rem 1rem 0;
    width:calc(100% / 4 - 1rem);

}
.gallery-primary ul li:nth-child(5),:is(ul li:nth-child(6)){
    width: calc(100% / 2 - 1rem);
}
.gallery-primary ul li:nth-child(7){
    width: calc(100% / 1 - 1rem);
}

footer{
    text-align: center;
    color: white;
}